{% load static %}

<footer class="footer">
	<div class="footer-content">
		<div class="footer-logo">
			<h2>Future</h2>
			<p>Shaping Tomorrow's Paths</p>
		</div>

		<div class="footer-nav">
			<a href="#">Home</a>
			<a href="#">About Us</a>
			<a href="#">Careers</a>
			<a href="#">Contact</a>
		</div>

		<div class="footer-social">
			<a href="#" aria-label="Facebook"
				><i class="fa-brands fa-square-facebook fa-2xl"></i
			></a>
			<a href="#" aria-label="Twitter"
				><i class="fa-brands fa-square-x-twitter fa-2xl"></i
			></a>
			<a href="#" aria-label="Instagram"
				><i class="fa-brands fa-instagram fa-2xl"></i
			></a>
		</div>
	</div>

	<div class="footer-bottom">
		<p>&copy; {{ current_year|default:2024 }} Future. All rights reserved.</p>
	</div>
</footer>
